



.boxpesquisa{
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  margin-top: 50px;
  margin-block-start: 50px;
}

h1{
  margin-top: 50px;
}

.designImput{
  margin-top: 20px;
  width: 300px;
  height: 30px;
  color:white;
  background-color:#161616;
  border: solid;
  border-width: 2px;
  border-color: #7c7c7c;
  border-radius: 10px;

  padding-right: 50px;
	padding-left:23px;     /* Largura da imagem possui 20px */
      /* Só pra centralizar o texto verticalmente já que a altura da imagem é de 25px */
  background-position: 96%;                                         /* O padding influencia no tamanho do componente (é como se fosse 20px + 5px da altura) */
	background-image:url('../../images/LUPA.png');
	background-repeat:no-repeat;                     /* Para não repetir o background ao longo de topo o componente */

}
label{
  font-family: Arial;
  font-weight: bolder;
  font-size: 23px;
  font-weight: 10px;
}
